@import url(./reset.css);
header {
    display: flex;
    width: 100vw;
    background-image: linear-gradient(#000000, #143340, #000000), url(./assets/images/banner.png);
    background-size: cover;
    background-blend-mode: overlay;
    color: #FFFFFF;
    align-content: center;
    justify-content: center;
    border-bottom: 1px solid #0084ff;
    padding: 20px 0 40px 0;
}
.logo {
    justify-self: center;
    margin: 40px 20px;
    filter: drop-shadow(0px 0px 10px #b3b3b3);
}
.banner-content{
    align-content: center;
    justify-items: center;
    font-size: medium;
}
.banner-content h1 {
    text-align: center;
    font-family: "roboto", sans-serif;
    font-size: 40px;
    font-weight: 900;
    background-image: linear-gradient(#1aabee, #0084ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 60px 0;
}
.banner-content p {
    font-family: "roboto", sans-serif;
    font-size: 20px;
    line-height: 10px;
    text-align: center;
    font-weight: 300;
}
.banner-content button {
    margin: 60px 0;
    width: 300px;
    height: 60px;
    font-family: "roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    background-image: linear-gradient(#1aabee, #006c9e );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-image: 20 20 linear-gradient(#006c9e, #4bc6ff);
}
#course-content {
    justify-items: center;
    align-content: center;
    text-align: center;
    font-family: "roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    width: 100vw;
    background-color: #000000;
    color: #FFFFFF;
    padding: 40px 0 60px 0;
    border-bottom: 1px solid #0084ff;
}
#course-content h2 {
    font-size: xx-large;
    font-weight: 900;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin: 40px 0;
    background-image: linear-gradient(#1aabee, #0084ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#course-content p {
    margin: 20px;
}
.modules-list {
    margin: 40px 0 20px 0;
}
.module {
    background-color: #383838;
    width: 450px;
    margin: 20px 0;
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    font-size: medium;
    text-align: center;
    border: 1px solid #0084ff;
    box-shadow: inset -5px 6px 8px #000000;
}
.module span {
    color: #00aeff;
    font-weight: normal;
}
#transform-world {
    background-image: linear-gradient(#000000, #143340, #000000), url(./assets/images/woman-code.png);
    width: 100vw;
    height: 50vh;
    background-blend-mode:overlay;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    align-content: center ;
    border-bottom: 1px solid #0084ff;
}
#transform-world p {
    font-family: "roboto", sans-serif;
    font-size: 40px;
    font-weight: bold;
    width: 200px;
    color: #ffffff;
    text-shadow: 2px 2px #1aabee;
    padding: 20px 200px;
    text-wrap: wrap;
    text-wrap-style: balance;
}
#professional-challenges {
    background-color: #000000;
    color: #FFFFFF;
    width: 100vw;
    padding: 40px 0px 60px 0px;
    text-align: center;
    font-family: "roboto", sans-serif;
    text-wrap: wrap;
    text-wrap-style: balance;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #0084ff;
}
#professional-challenges h2 {
    font-size: xx-large;
    font-weight: 900;
    text-transform: uppercase;
    text-wrap: wrap;
    text-wrap-style: balance;
    letter-spacing: 8px;
    padding: 0 430px;
    margin: 40px 0;
    background-image: linear-gradient(#1aabee, #0084ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#professional-challenges p {
    width: 800px;
    text-align: center;
    padding: 40px 0 20px 0;
}
footer {
    background-image: linear-gradient(#000000, #143340);
    color: #FFFFFF;
    width: 100vw;
    height: 15vh;
    padding: 20px 0;
    text-align: center;
    font-family: "roboto", sans-serif;
    font-size: medium;
    border-top: 1px solid #0084ff;
    justify-content: center;
    align-content: center;
}
footer a {
    color: #0a9ec4;
    text-decoration: none;
    font-weight: bold;
}